.btn {
    position: relative;
    display: block;
    width: fit-content;
    text-align: center;
    min-width: 8.5625rem;
    padding-block: 1rem;
    font-family: var(--font-secondary);
    font-weight: var(--font-bold);
    border-radius: var(--rounded-full);
    transition-property: background-color, color;
    transition-timing-function: ease;
    transition-duration: 200ms;

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }

    &--primary {
        color: var(--color-red-500);
        background-color: var(--color-white);

        @media (hover: hover) {
            &:hover {
                color: var(--color-white);
                background-color: var(--color-red-400);
            }
        }
    }

    &--secondary {
        color: var(--color-white);

        &::after {
            content: "";
            position: absolute;
            display: block;
            border-radius: inherit;
            inset: 0;
            border: 2px solid var(--color-white);
        }

        @media (hover: hover) {
            &:hover {
                color: var(--color-red-500);
                background-color: var(--color-white);
            }
        }
    }
}
