.nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    inset: 3.6875rem 0 auto;
    gap: 0 4rem;

    @media (--tablet) {
        --focus-outline-color: var(--color-white);
    }

    &__site-logo {
        height: clamp(2rem, 1.5229rem + 2.0356vw, 2.5rem);
        max-width: initial;
    }

    &__menu-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.375rem;

        --focus-outline-color: var(--color-white);
        --outer-line-rotate-angle: 0deg;
        --middle-line-display: initial;
        --last-line-margin-block-start: 0;

        @media (--tablet) {
            display: none;
        }

        &--line {
            background-color: var(--color-white);
            width: 2rem;
            height: 0.125rem;
            transition: transform 250ms ease;

            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }

            &:nth-child(1) {
                transform: rotate(var(--outer-line-rotate-angle));
            }

            &:nth-child(2) {
                display: var(--middle-line-display);
            }

            &:nth-child(3) {
                transform: rotate(calc(-1 * var(--outer-line-rotate-angle)));
                margin-block-start: var(--last-line-margin-block-start);
            }
        }

        &[aria-expanded="true"] {
            gap: 0;

            --outer-line-rotate-angle: 45deg;
            --middle-line-display: none;
            --last-line-margin-block-start: -0.125rem;
        }
    }

    &__menu {
        position: absolute;
        background-color: var(--color-white);
        top: calc(100% + 2rem);
        left: 50%;
        width: calc(100vw - 3rem);
        transform: translateX(-50%);
        font-size: var(--text-md);
        border-radius: 0.25rem;
        padding-block: 2rem;
        padding-inline: 1.5rem;
        line-height: 1.5rem;
        font-weight: var(--font-medium);
        box-shadow: var(--shadow-md);
        color: var(--color-gray-600);
        display: none;

        @media (--tablet) {
            font-size: var(--text-base);
            width: 100%;
            padding: initial;
            position: initial;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: initial;
            inset: initial;
            transform: initial;
            box-shadow: initial;
            color: var(--color-white);
            line-height: var(--leading-none);
        }
    }

    &__menu-btn[aria-expanded="true"] + &__menu {
        display: initial;
    }

    &__menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.75rem;
        padding-block-end: 1.5rem;
        border-bottom: 1px solid var(--color-gray-300);

        @media (--tablet) {
            padding: initial;
            flex-direction: row;
            border: initial;
            text-align: initial;
            margin-block-start: 0.1875rem;
        }
    }

    &__menu-item {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__submenu-btn {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        @media (--tablet) {
            color: var(--color-white);
            letter-spacing: 0.02em;
            transition: box-shadow 200ms ease;

            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }

            @media (hover: hover) {
                &:hover {
                    box-shadow: 0 2px 0 var(--color-white);
                }
            }
        }

        &::after {
            content: "";
            background-image: url("/assets/icons/icon-arrow-dark.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto;
            height: 1rem;
            aspect-ratio: 1;
            transition: transform 250ms ease;

            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }

            @media (--tablet) {
                background-image: url("/assets/icons/icon-arrow-light.svg");
            }
        }

        &[aria-expanded="true"]::after {
            transform: rotate(180deg);
        }
    }

    &__submenu {
        width: 100%;
        overflow: hidden;
        --focus-outline-color: var(--color-black);

        &::before {
            content: "";
            display: block;
            height: 1rem;
        }

        @media (--tablet) {
            position: absolute;
            top: calc(100% + 1.5rem);
            left: -1.5rem;
            color: var(--color-gray-900);
            width: 10rem;
            box-shadow: var(--shadow-md);

            &::before {
                display: none;
            }
        }
    }

    &__submenu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-block: 1.5rem;
        background-color: var(--color-gray-100);
        border-radius: 0.375rem;

        @media (--tablet) {
            gap: 1.125rem;
            align-items: start;
            background-color: var(--color-white);
            padding-block: 2rem;
            padding-inline: 1.5rem;
        }
    }

    &__submenu-link {
        position: relative;
        transition: box-shadow 200ms ease;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        @media (hover: hover) {
            &:hover {
                color: var(--color-black);
                box-shadow: 0 2px 0 0 var(--color-gray-900);
            }
        }
    }

    &__account {
        width: fit-content;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem 2rem;
        padding-block-start: 2rem;

        @media (--tablet) {
            padding: initial;
            margin: initial;
            flex-direction: row;
        }
    }

    &__login-link {
        transition: box-shadow 200ms ease;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        @media (hover: hover) {
            &:hover {
                box-shadow: 0 2px 0 var(--color-white);
            }
        }
    }

    &__sign-up-link {
        min-width: 8.5625rem;
        border-radius: var(--rounded-full);
        padding-block: 1rem;
        background: var(--gradient-tomato);
        font-weight: var(--font-bold);
        display: flex;
        justify-content: center;
        transition-property: background-color, color;
        transition-timing-function: ease;
        transition-duration: 200ms;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        @media (--tablet) {
            background: var(--color-gray-100);
            color: var(--color-red-500);
        }

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-red-400);
                color: var(--color-white);
            }
        }
    }
}
