@import "./base/fonts.css";
@import "./base/variables.css";
@import "./base/reset.css";

@import "./layouts/container.css";

@import "./components/button.css";

@import "./components/header.css";
@import "./components/nav.css";
@import "./components/hero.css";
@import "./components/intro.css";
@import "./components/footer.css";

@import "./utils/a11y.css";

.main {
    overflow-x: hidden;
}
