/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: var(--leading-none);
    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul {
    padding: 0;
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
    color: var(--color-gray-600);
}

a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    line-height: var(--leading-none);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-medium);
    color: var(--color-gray-900);
    text-wrap: balance;
}

button {
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

@supports selector(:focus-visible) {
    a:focus,
    button:focus {
        outline: none;
    }

    a:focus-visible,
    button:focus-visible {
        outline-offset: var(--focus-outline-offset);
        outline-width: var(--focus-outline-width);
        outline-style: var(--focus-outline-style);
        outline-color: var(--focus-outline-color);
    }
}
